<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.">
    <title>Services Hub :- Get Expert Professional Services at Home</title>
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
    <link rel="stylesheet" href="css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
    <!-- Favicon start -->
    <%- include('./header.ejs') %>
    <!-- Favicon End -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>

    <div>
        <%- include('../Other Files/navbar.ejs') %>
    </div>
    <section class="about">
        <div class="main">
            <img src="Images/HomePage/Handyman.png" alt="">
            <div class="all-text">
                <h4>About Us</h4>
                <h1> Home Services at your Doorstep</h1>
                <p> Services Hub is a technology platform offering a variety of services at home. Customers use our
                    platform to book services
                    such as Repair, Maintenance, Installation, Uninstallation, Cleaning and Many More.
                    <br>
                    <br>
                    These services are delivered in the comfort of their home and at a time of their choosing. We
                    promise our customers a high
                    quality standardised and reliable service experience . Our Vision : Empower millions of
                    professionals worldwide to deliver
                    services at home like never experienced before .
                </p>
                <div class="btn">
                    <button type="button" onclick="window.open('/contact', '_blank')">Contact Us</button>
                    <!-- <button type="button" class="btn2">Learn More</button> -->
                </div>
            </div>
        </div>
    </section>
    <div>
        <%- include('Footer.ejs') %>
    </div>
</body>

</html>